div .CheckImg {
  
  background-repeat: no-repeat;
    background-position: cover;
  background-size: cover;
  position: relative;
  height: 175vh;
  background-attachment: scroll;
    color: black;
    font-size: 18px;
}
label{
    font-size: 7px;
}

div .check{
  width: 30%;
  border: black;
}
.name
{
	display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    font-family: "ETmodules";
   	font-size: 25px;
	font-weight: 800;
	position:fixed;
	left:500px;
    
}
div .boxC {
  margin-top: 30px;
  margin-left: 40px;
  border: black;

}
.name1
{
position:fixed;
	left:460px;
}

div .aaaa{
width:30%;
height:70%;
float: left;
background-color:#ffff;
margin:0 auto;
margin-top:auto;
font-style: oblique;  
font-weight: 100;
padding-left:20px;
padding-bottom: 20px;
padding-right: 20px;
padding-top: 20px; 
border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
color:black;



}
.aaaa input[type="number"]{
width:90%;
height:35px;
border:3px;
padding-left:5px;
border-color: black;
font-size: 16px;
border: '3px solid black'

}
.aaaa input[type="text"]:focus {
background-color: white;
}
.aaaa input[type="date"]{
width:200px;
height:35px;
border:0;
padding-left:5px;
border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
}

.aaaa input[type="submit"]{
  border: 2px solid black;
  border-radius: 3px;
  background-color: #f94141 ;
  color: white;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  border-color:#f94141;
  color: white;
  align-self: right; 
}
.aaaa input[type="submit"]:hover
{
background-color:white;
  color: #f94141;
}

.blockC{
  
  padding-bottom: 10px;
  border-radius: 6%;
  padding-left: 10px; 
  align-content: center;
  
}
